@font-face {
    font-family: 'Onest';
    src: url('./Onest-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Onest';
    src: url('./Onest-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

