.custom-input {
  width: 100%;
  padding: 0.6vh 0.2vw;
  border: 1px solid #d0d5dd;
  border-radius: 18px;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  font-size: 12px;
  color: #404040;
  font-family: Onest;
  position: relative; 
}

.custom-input--date .custom-input__field::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-input__field {
  color: #404040;
  width: 100%;
  border: none;
  font-size: 12px;
  outline: none;
  transition: border-color 0.2s ease;
  text-align: center;
  font-family: Onest;
  background: transparent; 
  cursor: pointer;
}


.custom-input__field:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

svg {
    padding-right: 5px;
    width: 1vw;
}