.custom-dropdown {
  position: relative;
  width: 100%;
  font-family: Onest;
}

.custom-dropdown__header {
  padding: 1.1vh 1vw;
  border: 1px solid #d0d5dd;
  border-radius: 18px;
  background-color: white;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  transition: all 0.2s ease;
  font-size: 12px;
  color: #404040;
}


.custom-dropdown__selected {
  font-size: 12px;
  color: #404040;
  text-align: center;
}

.custom-dropdown__arrow {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.custom-dropdown.open .custom-dropdown__arrow {
  transform: rotate(180deg);
}

.custom-dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border-radius: 14px;
  margin-top: 4px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: 200px;
}

.custom-dropdown__item {
  padding: 8px 10px;
  cursor: pointer;
  font-size: 12px;
  color: #404040;
  transition: background-color 0.2s ease;
  text-align: center;
}

.custom-dropdown__item:last-child {
  border-bottom: none;
}

.custom-dropdown__item:hover {
  color: #596a7b;
}

.custom-dropdown__item.selected {
  background-color: #E4ECFF;
}

.custom-dropdown select {
  display: none;
}

.calendar-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.calendar-option--right {
  justify-content: space-between;
}

.calendar-option svg {
  flex-shrink: 0;
}