.buttonNav {
  background-color: rgb(255, 255, 255);
  border-radius: 12px; 
  font-family: Onest;
  padding: 4px 8px;
  font-size: 12px;
  color: #404040;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
  min-height: 30px;
  height: 30px;
  box-sizing: border-box;
  margin-right: 0.2vw;
}


.button-nav-left-icon,
.button-nav-right-icon {
  transition: transform 0.3s ease;
  flex-shrink: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonNav:hover {
  background-color: rgb(236, 236, 236);
}

.custom-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  order: -1;
}

.checkbox-circle {
  margin-right: 0.4vw;
  width: 10px;
  height: 10px;
  border: 2px solid #C9C9C9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}


.checkbox-dot {
  width: 6px;
  height: 6px;
  background-color: #C9C9C9;
  border-radius: 50%;
}


.button-nav-left-icon svg,
.button-nav-right-icon svg {
  display: flex;
  justify-content: center;
}

.button-nav-right-icon svg {
  padding-left: 0.4vw;
}

.dropdown-modal {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border-radius: 6px;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  width: auto; 
}


.button-nav-container {
  position: relative;
  display: inline-block;
}

.replacements-manager {
  padding: 20px;
}

.replacements-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.create-pair-btn {
  background: #BFD1FF;
  color: white;
  border: none;
  padding: 1vw 2vw;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1.4vw;
  font-weight: 900;
}

.create-pair-btn:hover {
  background: #a2b3de;
}

.modal-create-content {
  padding: 20px;
}

.creation-form {
  margin-bottom: 20px;
}

.form-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}



.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #e0e0e0;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  font-family: Onest;
}

.confirm-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #BFD1FF;
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.7vw;
  font-weight: 900;
}

.confirm-button:hover {
  background: #8b9ac1;
}

.created-pairs {
  margin-top: 30px;
}

.created-pairs h3 {
  margin-bottom: 20px;
  color: #333;
}

.pair-item {
  margin-bottom: 20px;
}

.emptiness_card.EmptinessCard-Replacement {
  width: 100%;
  height: 17vh; 
  font-size: 2vw; 
  margin-bottom: 1vw; 
}

.grid_modal {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.first-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2.5vw; 
  font-weight: 900;
  color: #404040;
  gap: 10px; 
}

.tick-icon {
  width: 3vw; 
  height: 3vw;
}

.modal-actions {
  width: 90%;
  display: flex;
  justify-content: center;
} 

.status-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius:18px;
  color: #404040;
  font-size: 1vw;
  font-weight: 900;
  transition: background-color 0.3s;
}

.status-checkbox:hover {
  background-color: #f5f5f5;
}

.status-text {
  font-weight: 500;
  color: #333;
}

.grid_row {
  display: grid;
  grid-template-columns: 1fr 0.6fr 1fr;
  gap: 1vw;
}

.add-button {
  background: #BFD1FF;
  color: white;
  border: none;
  padding: 0.6vw 2vw;
  border-radius: 14px;
  cursor: pointer;
  font-size: 1.4vw;
  font-weight: 900;
}

.add-button:hover {
  background: #a1b7ef;
}