.replacement-card {
  width: 14vw;
  height: 25vh; 
  border: 3px solid #BFD1FF;
  border-radius: 16px;
  background: white;
  overflow: hidden;
  font-family: Onest;
  font-size: 0.9vw;
  color: #575757;
  padding: 0.8vh 0.1vw 0.2vh 0.4vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; 
}

.replacement-card-box {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-bottom: 0.8vh;
  gap: 6px;
  position: relative;
  flex: 1; 
}

.replacement-card-icon {
  width: 1.2vw;
  flex-shrink: 0; 
}

.replacement-card__item {
  flex: 1; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.replacement_checkbox {
  padding-right: 0.8vh;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptiness_card {
  width: 14vw;
  height: 25vh;
  border: 0.2vw dashed #E4ECFF;
  border-radius: 16px; 
  background: white;
  overflow: hidden;
  font-family: Onest;
  font-size: 1.3vw;
  color: #828FB5;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; 
}

.card-pair {
  width: 32vw;
  display: grid;
  align-items: center;
  gap: 1vw;
  grid-template-columns: 2fr 0.5fr 2fr;
}

.card-pair_icon {
  display: flex;
  justify-content: center;
}

.replacement-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.sheldule-card {
  background: #ffffff;
  border-radius: 14px;
  border: 3px solid #BFD1FF;
  padding: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  min-height: 80px;
  box-sizing: border-box;
  gap: 4px;
}

.sheldule-card-box:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sheldule-card-box:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sheldule-card-box:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sheldule-card-box:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sheldule-card-box:nth-child(5) {
  grid-column: 1 / span 2;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sheldule-card-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.sheldule-card__item {
  font-size: 12px;
  color: #404040;
  margin: 0;
}

.sheldule-card-incomplete {
  border-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 100px;
  justify-content: flex-start;
  align-items: flex-start;
}

.sheldule-card-incomplete .sheldule-card-box {
  margin-left: 0;
  width: 100%;
  justify-content: flex-start;
}