.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 0;
  border-radius: 18px;
  width: 55vw;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: #DFDFDF 0px 0px 12px;
   
}

.modal-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr; 
  align-items: center;
  padding: 0.5vw 15px 0vw 15px;
}

.modal-title {
  grid-column: 2; 
  text-align: center;
  margin: 0;
  font-size: 2vw;
  font-weight: 900;
  color: #404040;
}

.modal-close {
  background: none;
  border: none;
  font-size: 3vw;
  cursor: pointer;
  color: #C9C9C9;
  justify-self: end;
  grid-column: 3; 
}

.schedule-data-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Onest;
  font-size: 14px;
  gap:12px;
}


.schedule-data-preview:last-child {
  margin-bottom: 20px;
}

.schedule-data-preview img {
  padding-right: 5px;
  width: 30px;
}