
.navigation {
    display: flex;
    flex-direction: column;
    width: 17vw;
    min-height: 100vh;
    background: url("../public/images/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Onest;
    font-weight: normal;
}
.nav-icon {
    padding-top: 2vw;
    padding-left: 0.5vw;
    width: 15vw;
    display: flex;
    padding-bottom: 10vw;
}

.nav-link {
    margin-left: 1vw;
    font-size: 1vw;
    text-decoration: none;
    color: #5C6C9F;
    padding: 4px 15px 10px 29px; 
    transition: all 0.3s ease;
    position: relative;
    font-family: inherit;
}

.nav-link:hover {
    color: #38456e;
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='10' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2917 1.16666H4.93574C3.00381 1.16666 2.03785 1.16666 1.69767 1.77346C1.68731 1.79194 1.67745 1.8107 1.66809 1.82971C1.36086 2.45384 1.90821 3.24976 3.00291 4.8416C3.87614 6.11139 4.31275 6.74629 4.32341 7.46476C4.32376 7.48824 4.32376 7.51173 4.32341 7.53522C4.31275 8.25369 3.87614 8.88859 3.00291 10.1584C1.90821 11.7502 1.36086 12.5461 1.66809 13.1703C1.67745 13.1893 1.68731 13.208 1.69767 13.2265C2.03785 13.8333 3.00381 13.8333 4.93574 13.8333H10.2917C11.8456 13.8333 12.6226 13.8333 13.2912 13.499C13.9598 13.1647 14.426 12.5431 15.3584 11.3C16.7306 9.47036 17.4167 8.55554 17.4167 7.49999C17.4167 6.44443 16.7306 5.52962 15.3584 3.69999C14.426 2.45685 13.9598 1.83528 13.2912 1.50097C12.6226 1.16666 11.8456 1.16666 10.2917 1.16666Z' stroke='%235C6C9F' stroke-width='1.5'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.nav-link.active {
    font-weight: bold;
}

.nav-link.active::before {
    opacity: 1;
    transform: translateY(-50%) scale(1.1); 
    width: 19px;
    height: 15px;
    left: 10px;
}

.nav-button {
    margin-top: auto; 
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
    padding: 10px;
    font-size: 1.2vw;
    font-weight: bold;
    background-color: #ffffff;
    color: #5C6C9F;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-family: Onest;
}

.nav-button:hover {
    color: #38456e;
}